.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  .form {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 1rem;
  }
  
  .submitButton {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .submitButton:hover {
    background-color: #0051cc;
  }
  